{% extends 'base.html' %}
    {% block head %}
        <title>Add Category!!</title>
    {% endblock %}
    {% block content %}
    {% if user.is_authenticated %}
        <h1>Add Category</h1>
        <br><br>
        <div class="form-group">
        <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary">ADD CATEGORY</button>
        </form>
        </div>
    {% else %}
        <h1>You're not allowed here</h1>
    {% endif %}

    {% endblock %}