{% extends 'base.html' %}
    {% block head %}
        <title>User_profile</title>
    {% endblock %}
    {% block content %}

        <h1>User Profile</h1>
        <br><br>


  <div class="card mb-3">
    <div class="row no-gutters">
        <div class="col-md-2" style="text-align:center;">
            {% if page_user.profile_pic %}
                <img src="{{ page_user.profile_pic.url }}" alt="Profile.jpg" height="200" width="200" style="padding: 10px;">
                {% else %}
                <span>
                    <i class="fa fa-user" aria-hidden="true" style="font-size: 100px;padding: 10px;color:grey;"></i>
                </span>
            {% endif %}
        </div>
        <div class="col-md-10">
            <div class="card-body">
                <h5 class="card-title">{{ page_user.user.first_name }} {{ page_user.user.last_name }}</h5>
                <p class="card-text">
                    <small class="text-muted">

                        {% if page_user.website_url %}
                            <a href="{{ page_user.website_url }}">Website</a>
                        {% endif %}
                        {% if page_user.fb_url %}
                            | <a href="{{ page_user.fb_url }}">Facebook</a>
                        {% endif %}
                        {% if page_user.twitter_url %}
                            | <a href="{{ page_user.twitter_url }}">Twitter</a>
                        {% endif %}
                        {% if page_user.insta_url %}
                            | <a href="{{ page_user.insta_url }}">Instagram</a>
                        {% endif %}
                        {% if page_user.pinterest_url %}
                            | <a href="{{ page_user.pinterest_url }}">Pinterest</a>
                        {% endif %}
                    </small>
                </p>
                <p>{{ page_user.bio }}</p>
            </div>
        </div>
    </div>
    </div>


    {% endblock %}